<h1>whoami</h1>
<br />
<p>My name is Kai Takami and I am a highly motivated and detail-oriented individual with a strong passion for startups.

I am skilled in React.js, Next.js, Ruby on Rails and Python and have a proven track record of success in competitive programming platforms like codeforces or atcoder. I am a team player and thrive in collaborative environments, but am also comfortable working independently and taking on leadership roles.

Outside of work, I enjoy cycling and am always looking for new opportunities to learn and grow both personally and professionally. I am excited to bring my skills and enthusiasm to any organization and make a positive impact.</p>
